# These owners will be the default owners for everything in the repo. Unless a later match takes precedence

* @department-of-veterans-affairs/flagship-mobile-reviewers

VAMobile/src @department-of-veterans-affairs/flagship-mobile-reviewers @department-of-veterans-affairs/flagship-mobile-qa
VAMobile/e2e @department-of-veterans-affairs/flagship-mobile-reviewers @department-of-veterans-affairs/flagship-mobile-qa
VAMobile/package.json @department-of-veterans-affairs/flagship-mobile-reviewers @department-of-veterans-affairs/flagship-mobile-qa
VAMobile/.detoxrc.json @department-of-veterans-affairs/flagship-mobile-reviewers @department-of-veterans-affairs/flagship-mobile-qa
VAMobile/documentation/docs/QA @department-of-veterans-affairs/flagship-mobile-qa
VAMobile/documentation/docs/Engineering/BackEnd @department-of-veterans-affairs/mobile-api-team
VAMobile/documentation/static/img/backend @department-of-veterans-affairs/mobile-api-team
VAMobile/documentation/design @department-of-veterans-affairs/flagship-mobile-platform

.github/workflows @department-of-veterans-affairs/flagship-mobile-reviewers @department-of-veterans-affairs/flagship-mobile-platform

VAMobile/src/*.test.tsx @department-of-veterans-affairs/flagship-mobile-reviewers
