# These owners will be the default owners for everything in
# the repo.

@narin

# Order is important; the last matching pattern takes the most
# precedence.

.circleci             @narin
.github               @narin

/VAMobile/android/    @narin
/VAMobile/ios/        @narin
/VAMobile/fastfiles/  @narin
