extends: default
rules:
  document-start: disable
  new-line-at-end-of-file: disable
  trailing-spaces: disable
  truthy: disable
  line-length: disable
  comments: disable
  comments-indentation: disable
  key-duplicates: enable
