version: 2.1
executors:
  default:
    docker:
      - image: cimg/ruby:3.0.2-node
  android:
    docker:
      - image: cimg/android:2022.09.2-node
    resource_class: xlarge
  ios:
    macos:
      xcode: 13.4.1
commands:
  install_deps:
    description: 'Install dependencies'
    parameters:
      environment:
        type: string
        default: staging
    steps:
      # - restore_cache:
      #     key: yarn-v1-{{ checksum "VAMobile/yarn.lock" }}-{{ arch }}
      - run:
          command: |
            echo INSTALLING YARN
            npm install yarn
            echo INSTALLING NODE MODULES
            cd VAMobile
            yarn install --frozen-lockfile --non-interactive
            echo CREATING ENV FILE FOR env:<<parameters.environment>>
            yarn env:<<parameters.environment>>
      # - save_cache:
      #     key: yarn-v1-{{ checksum "VAMobile/yarn.lock" }}-{{ arch }}
      #     paths:
      #       - VAMobile/node_modules
      - run:
          command: |
            echo INSTALLING BUNDLER
            sudo gem install bundler
  install_python:
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install python3-pip
      - run: python3 -m pip install requests
  bundle_app:
    description: 'Bundles the app for the OS specified'
    parameters:
      os:
        type: string
    steps:
      - run:
          working_directory: ~/project/VAMobile
          command: yarn bundle:<<parameters.os>>
  lint:
    description: 'Run lint'
    steps:
      - run:
          working_directory: ~/project/VAMobile
          command: yarn lint:ci
          when: always
  jest:
    description: 'Run jest with time splitting'
    steps:
      - run:
          working_directory: ~/project/VAMobile
          command: |
            TEST=$(circleci tests glob "src/**/*.test.ts*" | circleci tests split --split-by=timings)
            yarn test $TEST -w 2
          when: always
      - store_test_results:
          path: VAMobile/coverage/junit/
      - store_artifacts:
          path: VAMobile/coverage/junit/
  install_pods:
    description: 'install cocoa pods'
    steps:
      - restore_cache:
          key: pods-v1-{{ checksum "VAMobile/ios/Podfile.lock" }}-{{ arch }}
      - run:
          working_directory: ~/project/VAMobile/ios
          command: |
            echo INSTALL COCOA PODS
            pod check || pod install
      - save_cache:
          key: pods-v1-{{ checksum "VAMobile/ios/Podfile.lock" }}-{{ arch }}
          paths:
            - VAMobile/ios/Pods
  create_keys_directory:
    description: 'create directory for google keys'
    steps:
      - run:
          command: mkdir VAMobile/android/keys
  decode_file:
    description: 'Decode a base64 string saves to destination'
    parameters:
      workingDir:
        type: string
      secretString:
        type: string
      destination:
        type: string
    steps:
      - run:
          working_directory: <<parameters.workingDir>>
          command: |
            # decode base64 secret string
            echo <<parameters.secretString>> | base64 --decode | tee <<parameters.destination>> >/dev/null
  decode_ios_keys:
    description: 'Decodes all of the ios files needed to upload to Test Flight'
    steps:
      - decode_file:
          workingDir: '~/project/VAMobile/ios'
          secretString: ${IOS_CERTIFICATE_BASE64}
          destination: ${IOS_CERTIFICATE_PATH}
      - decode_file:
          workingDir: '~/project/VAMobile/ios'
          secretString: ${IOS_PROVISIONING_BASE64}
          destination: ${IOS_PROVISIONING_PATH}
      - decode_file:
          workingDir: '~/project/VAMobile/ios'
          secretString: ${APPSTORE_CONNECT_BASE64}
          destination: ${APPSTORE_CONNECT_FILEPATH}
      - decode_file:
          workingDir: '~/project/VAMobile/ios'
          secretString: ${IOS_GS_PLIST_BASE64}
          destination: ${IOS_GS_PLIST_PATH}
  ios_fastlane:
    description: 'Builds and deploys for iOS to the specified lane and version.'
    parameters:
      version:
        type: string
        default: qa
      lane:
        type: string
        default: qa
      notes:
        type: string
        default: ''
      tf_group:
        type: string
        default: ''
      use_slack_thread:
        type: boolean
        default: true
    steps:
      - restore_cache:
          key: bundle-v1-{{ checksum "VAMobile/ios/Gemfile.lock" }}-{{ arch }}
      - run:
          working_directory: ~/project/VAMobile/ios
          command: bundle config set --local path 'vendor/bundle' && bundle install
      - run:
          working_directory: ~/project/VAMobile/ios
          command: |
            echo UPDATING FASTLANE
            bundle update fastlane
      - save_cache:
          key: bundle-v1-{{ checksum "VAMobile/ios/Gemfile.lock" }}
          paths:
            - VAMobile/ios/vendor/bundle
      - when:
          condition: <<parameters.use_slack_thread>>
          steps:
            - get_slack_thread
      - run:
          working_directory: ~/project/VAMobile/ios
          command: bundle exec fastlane <<parameters.lane>> version:<<parameters.version>> notes:"<<parameters.notes>>" tfGroup:"<<parameters.tf_group>>" --verbose
          no_output_timeout: '30m'
  decode_android_keys:
    description: 'Decodes all the keys needed to build and upload to google play'
    steps:
      - decode_file:
          workingDir: '~/project/VAMobile/android/keys'
          secretString: ${GOOGLE_KS}
          destination: ${GOOGLE_KS_PATH}
      - decode_file:
          workingDir: '~/project/VAMobile/android/keys'
          secretString: ${GOOGLE_SA_JSON}
          destination: ${GOOGLE_SA_PATH}
      - decode_file:
          workingDir: '~/project/VAMobile/android/app'
          secretString: ${GOOGLE_SERVICES_JSON}
          destination: ${GOOGLE_SERVICES_PATH}
      - decode_file:
          workingDir: '~/project/VAMobile/android/keys'
          secretString: ${FIREBASE_DIST_FILE_BASE64}
          destination: ${FIREBASE_DIST_DECODE_PATH}
  android_fastlane:
    description: 'Builds and deploys for Android to the specified lane and version.'
    parameters:
      version:
        type: string
        default: qa
      lane:
        type: string
        default: qa
      notes:
        type: string
        default: ''
      ps_track:
        type: string
        default: ''
      use_slack_thread:
        type: boolean
        default: true
    steps:
      - restore_cache:
          key: bundle-v1-{{ checksum "VAMobile/android/Gemfile.lock" }}-{{ arch }}
      - run:
          working_directory: ~/project/VAMobile/android
          command: bundle check || bundle config set --local path 'vendor/bundle' && bundle install
      - run:
          working_directory: ~/project/VAMobile/android
          command: |
            echo UPDATING FASTLANE
            bundle update fastlane
      - save_cache:
          key: bundle-v1-{{ checksum "VAMobile/android/Gemfile.lock" }}
          paths:
            - VAMobile/android/vendor/bundle
      - when:
          condition: <<parameters.use_slack_thread>>
          steps:
            - get_slack_thread
      - run:
          working_directory: ~/project/VAMobile/android
          command: bundle exec fastlane <<parameters.lane>> --verbose version:<<parameters.version>> notes:"<<parameters.notes>>" psTrack:"<<parameters.ps_track>>"
  run_script:
    description: 'Runs a bash script. Takes the working directory, script name and script options as params'
    parameters:
      workingDir:
        type: string
        default: ~/project/VAMobile
      script_name:
        type: string
      script_options:
        type: string
    steps:
      - run:
          working_directory: <<parameters.workingDir>>
          command: |
            chmod +x <<parameters.script_name>>
            bash <<parameters.script_name>> <<parameters.script_options>>
  get_slack_channel_id:
    description: 'checks DSVA slack to get the channel id from a channel name'
    parameters:
      channelName:
        type: string
    steps:
      - run:
          name: 'Find the right channel id since it can sometimes change'
          command: |
            id=$(curl -X GET -H 'Authorization: Bearer '"$SLACK_API_TOKEN"' ' \
              -H 'Content-type: application/x-www-form-urlencoded' \
              https://slack.com/api/conversations.list\?limit=1000 |
              jq '.channels[] | .name as $data | select($data == "<<parameters.channelName>>").id' )
            echo "export SLACK_CHANNEL_ID=${id}" >> $BASH_ENV

  send_slack_message:
    description: 'Sends a slack message in the specified channel and sets the SLACK_THREAD_TS env var'
    parameters:
      channelId:
        type: string
      message:
        type: string
    steps:
      - run:
          name: 'Post message to slack'
          command: |
            ts=$(curl -X POST -H 'Authorization: Bearer '"$SLACK_API_TOKEN"' ' \
              -H 'Content-type: application/json' \
              --data '{"channel":"'<<parameters.channelId>>'","text":"<<parameters.message>>"}' \
              https://slack.com/api/chat.postMessage|
              jq -r '.ts')
            echo "export SLACK_THREAD_TS=${ts}" >> $BASH_ENV
  persist_env:
    description: 'Persist a bash env to the workspace for other jobs'
    parameters:
      envVar:
        type: string
      path:
        type: string
    steps:
      - run: mkdir -p workspace
      - run: echo << parameters.envVar >> > workspace/<< parameters.path >>
      - persist_to_workspace:
          root: workspace
          paths:
            - << parameters.path >>
  retrieve_persisted_env:
    description: 'retrieves an env from the workspace'
    parameters:
      envVar:
        type: string
      path:
        type: string
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          command: |
            echo `cat /tmp/workspace/<< parameters.path >>`
            var=$(cat /tmp/workspace/<< parameters.path >>)
            echo "export <<parameters.envVar>>=${var}" >> $BASH_ENV
  save_slack_thread:
    steps:
      - persist_env:
          envVar: ${SLACK_THREAD_TS}
          path: 'threadTs'
  get_slack_thread:
    steps:
      - retrieve_persisted_env:
          envVar: 'SLACK_THREAD_TS'
          path: 'threadTs'
  queue_android_jobs:
    parameters:
      regex:
        type: string
        default: '^build_android_'
    steps:
      - run: echo "export BUILD_REGEX=<<parameters.regex>>" >> $BASH_ENV
      - install_python
      - run:
          working_directory: ~/project/VAMobile
          command: python3 queue-builds.py
  queue_ios_jobs:
    parameters:
      regex:
        type: string
        default: '^build_ios_'
    steps:
      - run: echo "export BUILD_REGEX=<<parameters.regex>>" >> $BASH_ENV
      - run: python3 -m pip install requests
      - run:
          working_directory: ~/project/VAMobile
          command: python3 queue-builds.py
jobs:
  lint:
    executor: default
    steps:
      - checkout
      - install_deps
      - lint
  test:
    executor: default
    steps:
      - checkout
      - install_deps
      - jest
    parallelism: 5
    resource_class: xlarge
  start_slack_thread:
    executor: default
    parameters:
      message:
        type: string
    steps:
      - get_slack_channel_id:
          channelName: 'va-mobile-app'
      - send_slack_message:
          message: << parameters.message >>
          channelId: ${SLACK_CHANNEL_ID}
      - save_slack_thread
  build_ios_qa:
    executor: ios
    steps:
      - checkout
      - install_deps
      - decode_ios_keys
      - install_pods
      - bundle_app:
          os: 'ios'
      - queue_ios_jobs
      - ios_fastlane
  build_android_qa:
    executor: android
    steps:
      - checkout
      - install_deps
      - create_keys_directory
      - decode_android_keys
      - bundle_app:
          os: 'android'
      - queue_android_jobs
      - android_fastlane
  build_ios_feature:
    executor: ios
    steps:
      - checkout
      - install_deps
      - decode_ios_keys
      - install_pods
      - bundle_app:
          os: ios
      - queue_ios_jobs
      - ios_fastlane:
          lane: on_demand
          notes: ${CIRCLE_TAG}
          tf_group: Development Team
  build_android_feature:
    executor: android
    steps:
      - checkout
      - install_deps
      - create_keys_directory
      - decode_android_keys
      - bundle_app:
          os: android
      - queue_android_jobs
      - android_fastlane:
          lane: on_demand
          notes: ${CIRCLE_TAG}
          ps_track: Development Team
  cut_release_branch:
    executor: default
    steps:
      - checkout
      - run_script:
          script_name: 'release_branch.sh'
          script_options: ''
          workingDir: '~/project/VAMobile'
  build_ios_release:
    executor: ios
    steps:
      - checkout
      - install_deps:
          environment: 'production'
      - decode_ios_keys
      - install_pods
      - bundle_app:
          os: 'ios'
      - queue_ios_jobs
      - ios_fastlane:
          version: ${CIRCLE_TAG}
          lane: 'review'
  build_android_release:
    executor: android
    steps:
      - checkout
      - install_deps:
          environment: 'production'
      - create_keys_directory
      - decode_android_keys
      - bundle_app:
          os: 'android'
      - queue_android_jobs
      - android_fastlane:
          version: ${CIRCLE_TAG}
          lane: 'review'
  run_release_lanes:
    executor: default
    steps:
      - checkout
      - create_keys_directory
      - decode_ios_keys
      - decode_android_keys
      - android_fastlane:
          lane: 'release'
          use_slack_thread: false
      - ios_fastlane:
          lane: 'release'
          use_slack_thread: false
  build_android_release_candidate:
    executor: android
    steps:
      - checkout
      - install_deps
      - create_keys_directory
      - decode_android_keys
      - bundle_app:
          os: 'android'
      - queue_android_jobs
      - android_fastlane:
          lane: 'rc'
  build_ios_release_candidate:
    executor: ios
    steps:
      - checkout
      - install_deps
      - decode_ios_keys
      - install_pods
      - bundle_app:
          os: 'ios'
      - queue_ios_jobs
      - ios_fastlane:
          lane: 'rc'
# workflows:
  # qa_build:
  #   triggers:
  #     - schedule:
  #         cron: '0 5 * * 1,2,3,4,5'
  #         filters:
  #           branches:
  #             only: develop
  #   jobs:
  #     - start_slack_thread:
  #         message: 'QA build process starting. Please see :thread: for results. This process may take a while.'
  #     - build_android_qa:
  #         requires:
  #           - start_slack_thread
  #     - build_ios_qa:
  #         requires:
  #           - start_slack_thread
  # release_build:
  #   jobs:
  #     - start_slack_thread:
  #         message: 'Automation starting release build for the app. This build will be sent to the app stores for review upon completion. Please see :thread: for results. This process may take a while.'
  #         filters:
  #           tags:
  #             only: /^v\d+\.\d+\.\d+/
  #           branches:
  #             ignore: /.*/
  #     - build_android_release:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^v\d+\.\d+\.\d+/
  #           branches:
  #             ignore: /.*/
  #     - build_ios_release:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^v\d+\.\d+\.\d+/
  #           branches:
  #             ignore: /.*/
  # feature_build:
  #   jobs:
  #     - start_slack_thread:
  #         message: 'On-demand feature build process starting. Please see :thread: for results. This process may take a while.'
  #         filters:
  #           tags:
  #             only: /^feature-build-.+/
  #           branches:
  #             ignore: /.*/
  #     - build_android_feature:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^feature-build-.+/
  #           branches:
  #             ignore: /.*/
  #     - build_ios_feature:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^feature-build-.+/
  #           branches:
  #             ignore: /.*/
  # release_candidate_build:
  #   jobs:
  #     - start_slack_thread:
  #         message: 'Release Candidate build process starting. This build is a staging build for QA to validate and do regression testing on. Please see :thread: for results. This process may take a while.'
  #         filters:
  #           tags:
  #             only: /^RC-v\d+\.\d+\.\d+-\d+-\d+$/
  #           branches:
  #             ignore: /.*/
  #     - build_android_release_candidate:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^RC-v\d+\.\d+\.\d+-\d+-\d+$/
  #           branches:
  #             ignore: /.*/
  #     - build_ios_release_candidate:
  #         requires:
  #           - start_slack_thread
  #         filters:
  #           tags:
  #             only: /^^RC-v\d+\.\d+\.\d+-\d+-\d+$/
  #           branches:
  #             ignore: /.*/
  # new_release_branch:
  #   triggers:
  #     - schedule:
  #         cron: '30 6 * * 3'
  #         filters:
  #           branches:
  #             only: develop
  #   jobs:
  #     - cut_release_branch
  # go_live:
  #   triggers:
  #     - schedule:
  #         cron: '0 14 * * 2'
  #         filters:
  #           branches:
  #             only: main
  #   jobs:
  #     - run_release_lanes
