/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroText {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.heroImage {
  display: flex;
  justify-content: center;
}

.heroImage img {
  max-width: 15em;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroImage img {
    margin: 1em auto;
  }
}