name: 'Approve Slash Command'

on:
  repository_dispatch:
    types: [approve-command]
  workflow_dispatch:

jobs:
  run_approval:
    runs-on: ubuntu-latest
    steps:
      - name: 'Add reaction to approve command'
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.PAT }}
          reaction-token: ${{ github.event.client_payload.github.payload.repository.full_name }}
          repository: ${{ github.event.client_payload.github.payload.repository.full_name }}
          comment-id: '1000442945' #${{ github.event.client_payload.github.payload.comment.id }}
          reaction-type: rocket
