#
# Checks if health/global/design-system label is applied and then assigns the correct QA team member to that ticket
#

name: '[Utils] Assign QA to issue'

on:
  issues:
    types:
      - labeled
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_qa:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@v3

      - name: Assign Health team QA
        if: |
          contains(github.event.issue.labels.*.name, 'Health') && 
          contains(github.event.issue.labels.*.name, 'FE-With QA')
        run: |
          gh issue edit ${{ github.event.issue.number }} --add-assignee "rbontrager"

      - name: Assign Global team QA
        if: |
          contains(github.event.issue.labels.*.name, 'global') && 
          contains(github.event.issue.labels.*.name, 'FE-With QA')
        run: |
          gh issue edit ${{ github.event.issue.number }} --add-assignee "TKDickson"

      - name: Assign Design-System team QA
        if: |
          contains(github.event.issue.labels.*.name, 'design-system') && 
          contains(github.event.issue.labels.*.name, 'FE-With QA')  
        run: |
          gh issue edit ${{ github.event.issue.number }} --add-assignee "DJUltraTom"
      
      - name: Assign all other issues to adam
        if: github.event.label.name == 'FE-With QA' && (github.event.label.name != 'Health' || github.event.label.name != 'global' || github.event.label.name != 'design-system')
        run: |
          gh issue edit ${{ github.event.issue.number }} --add-assignee "bischoffa"
      
