# Reusable workflow that sets up environment, installs depdendencies, and
# runs Android fastlane using provided inputs
name: Build Android

on:
  workflow_call:
    inputs:
      # Used to determine the environment variables to build the app with
      # Options: test, staging, production
      environment:
        type: string
        default: staging
      # Specifies which fastlane lane to run
      # Options: qa, rc, review, release, on_demand
      lane:
        type: string
        default: qa
      # Release notes that will show next to the version in Firebase
      # Fastlane will default to "New QA version for {{DATE_TIME}}"
      notes:
        type: string
        default: ''
      # Google Play Console track to distribute to. Fastlane defaults to 
      # "Development Team"
      ps_track:
        type: string
        default: ''
      # Determines whether or not to send slack messages related to the build
      use_slack_thread:
        type: boolean
        default: true
      # Version to use for production release. QA/On-demand builds will increment
      # upon the latest version in Google Play Console
      version:
        type: string
        default: qa

defaults:
  run:
    working-directory: VAMobile

env:
  # IAM staging app client secret
  APP_CLIENT_SECRET: ${{ secrets.APP_CLIENT_SECRET }}
  # IAM production app client secret
  APP_CLIENT_SECRET_PROD: ${{ secrets.APP_CLIENT_SECRET_PROD }}
  # Password to enter demo mode from login screen
  DEMO_PASSWORD: ${{ secrets.DEMO_PASSWORD }}
  # Android Key Store Key Alias
  ANDROID_KS_KEY_ALIAS: ${{ secrets.ANDROID_KS_KEY_ALIAS }}
  # Android Key Store Key Alias Password
  ANDROID_KS_KEY_PW: ${{ secrets.ANDROID_KS_KEY_PW }}
  # Android Key Store Key Password
  ANDROID_KS_PW: ${{ secrets.ANDROID_KS_PW }}
  # App ID for Android project in Firebase
  FIREBASE_ANDROID_APP_ID: ${{ secrets.FIREBASE_ANDROID_APP_ID }}
  # Filepath for firebase distribution key. Also used by fastlane
  FIREBASE_DIST_KEY_FILEPATH: ${{ secrets.FIREBASE_DIST_KEY_FILEPATH }}

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set git config
        run: |
          git config --global user.name 'VA Automation Bot'
          git config --global user.email 'va-mobileapp@adhocteam.us'
      # Decodes base64 encoded keystore, Play Store service distribution key,
      # Firebase distribution key, and Firebase analytics/crashlytics json
      - name: Decode files
        run: |
          mkdir android/keys
          cd android/keys
          echo "${{ secrets.GOOGLE_KS }}" | base64 --decode > vamobile
          echo "${{ secrets.GOOGLE_SA_JSON }}" | base64 --decode > service-account.json
          echo "${{ secrets.FIREBASE_DIST_FILE_BASE64 }}" | base64 --decode > firebase-dist.json
          cd ../app
          echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > google-services.json
      - run: bundle config set --local path 'vendor/bundle'
      # Setup ruby with specified version
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0.2'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      # Sets up node with v16 and restores global cache so we don't have to re-download dependencies
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
          cache-dependency-path: 'VAMobile/yarn.lock'
      # Install node dependencies and bundle app
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile --non-interactive
          yarn env:${{ inputs.environment }}
          yarn bundle:android
      # Run fastlane using provided inputs
      - name: Run fastlane
      # bundle check || bundle config set --local path 'vendor/bundle' && bundle install
        run: |
          cd android
          bundle update fastlane
          bundle exec fastlane ${{ inputs.lane }} --verbose version:"${{ inputs.version }}" notes:"${{ inputs.notes }}" psTrack:"${{ inputs.ps_track }}"
