# Reusable workflow that sets up environment, installs depdendencies, and
# runs iOS fastlane using provided inputs
name: '[Build] Reusable iOS Workflow'

on:
  workflow_call:
    inputs:
      # Used to determine the environment variables to build the app with
      # Options: test, staging, production
      environment:
        type: string
        default: staging
      # Specifies which fastlane lane to run
      # Options: qa, rc, review, release, on_demand
      lane:
        type: string
        default: qa
      # Release notes that will show next to the version in TestFlight
      # Fastlane will default to "New QA version for {{DATE_TIME}}"
      notes:
        type: string
        default: ''
      # The branch or tag that we want to build from.  Defaults to the branch/tag that triggered
      # the automation, otherwise uses develop
      ref:
        type: string
        default: ''
      # Timestamp of the Slack thread where build related messages should be sent.
      # Gets assigned to the SLACK_THREAD_TS environment variable that Fastlane uses.
      slack_thread_ts:
        type: string
        default: ''
      # TestFlight group to distribute to. Fastlane defaults to "Development Team"
      tf_group:
        type: string
        default: ''
      # Version to use for production release. QA/On-demand builds will increment
      # upon the latest version in TestFlight
      version:
        type: string
        default: qa

defaults:
  run:
    working-directory: VAMobile/ios

env:
  # IAM staging app client secret
  APP_CLIENT_SECRET: ${{ secrets.APP_CLIENT_SECRET }}
  # IAM production app client secret
  APP_CLIENT_SECRET_PROD: ${{ secrets.APP_CLIENT_SECRET_PROD }}
  # Password to enter demo mode from login screen
  DEMO_PASSWORD: ${{ secrets.DEMO_PASSWORD }}
  # Slack API token used by fastlane
  SLACK_API_TOKEN: ${{ secrets.SLACK_API_TOKEN }}

jobs:
  build_ios:
    runs-on: macos-15-xlarge
    env:
      # App Store Connect Issuer ID
      APPSTORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APPSTORE_CONNECT_API_KEY_ISSUER_ID }}
      # App Store Connect Key Id
      APPSTORE_CONNECT_API_KEY_ID: ${{ secrets.APPSTORE_CONNECT_API_KEY_ID }}
      # Path to write secret key to. Also used by fastlane
      APPSTORE_CONNECT_FILEPATH: './AppStoreConnectKey.p8'
      # Xcode project file name
      IOS_PROJ_FILE: 'VAMobile.xcodeproj'
      # Xcode scheme to build
      IOS_SCHEME: 'VAMobileRelease'
      # Fast lane patch password
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          token: ${{ steps.generate_token.outputs.token }}
      - name: Setup ssh-agent with VA Mobile Automation ssh key for fastlane match
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.VA_MOBILE_ROBOT_GITHUB_SSH_KEY }}
      - name: Decode base64 encoded App Store Connect API key and GoogleService-Info.plist
        run: |
          # Do not print raw user-provided notes to logs; avoid leaking or formatting issues
          echo "Notes received"
          echo "${{ secrets.APPSTORE_CONNECT_BASE64 }}" | base64 --decode > "$APPSTORE_CONNECT_FILEPATH"
          echo "${{ secrets.IOS_GS_PLIST_BASE64 }}" | base64 --decode > GoogleService-Info.plist
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.2
      - name: Download ios 18.2
        run: xcodebuild -downloadPlatform iOS -buildVersion 18.2
      - name: Setup node and restore yarn cache
        uses: actions/setup-node@v3
        with:
          node-version-file: 'VAMobile/.nvmrc'
      - name: Install npm dependencies
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: cd VAMobile && yarn install --ignore-scripts --frozen-lockfile --non-interactive
      - name: Set app environment variables
        run: yarn env:${{ inputs.environment }}
      - name: Sanitize inputs
        run: |
          # Remove problematic characters and collapse whitespace
          SANITIZED_NOTES=$(printf '%s' '${{ inputs.notes }}' | tr -d '`"'"'"',/\\' | tr '\r\n' ' ' | sed -E 's/[[:space:]]+/ /g')
          echo "SANITIZED_NOTES=$SANITIZED_NOTES" >> $GITHUB_ENV

          if [ -n "${{ inputs.slack_thread_ts }}" ]; then
            echo "SLACK_THREAD_TS=${{ inputs.slack_thread_ts }}" >> $GITHUB_ENV
          fi
      - name: Install Pods
        run: pod install
      - name: Bundle app
        run: yarn bundle:ios
      - name: Install gems
        run: bundle install
      - name: Update fastlane
        run: bundle update fastlane
      - name: Run fastlane with retries
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 20
          max_attempts: 3
          # Use sanitized notes from the environment to avoid injection/formatting issues
          command: cd VAMobile/ios && bundle exec fastlane ${{ inputs.lane }} version:"${{ inputs.version }}" notes:"$SANITIZED_NOTES" tfGroup:"${{ inputs.tf_group }}" --verbose
