name: '[Code Quality] Update Bundler'

on:
  push:
  # schedule:
  #   - cron: "0 7 * * 3"
  workflow_dispatch:

jobs:
  update_bundler:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: 'Checkout repo'
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - name: 'Run update script for android files'
        run: |
          bundle update --all
          bundle exec fastlane update_plugins
        working-directory: VAMobile/android/
      - name: 'Run update script for ios files'
        run: |
          bundle update --all
          bundle exec fastlane update_plugins
        working-directory: VAMobile/ios/
      - name: 'Push any changes to remote'
        run: |
          if [[ -n $(git status --porcelain --untracked-files=no) ]]
          then
            echo 'There are changes in git'
            git status --porcelain
            git config --global user.name 'VA Mobile Automation Bot'
            git config --global user.email 'VAFlagshipMobile@va.gov'
            git add -A
            git commit -m "Automated bundler and fastlane updates"
            git push -u origin HEAD
          else
            echo 'There are no changes to the lock files or plugins'
          fi
