# Promotes builds in App Store and Google Play to production

name: '[Release] Go Live'

on:
  workflow_dispatch:
  # Tuesdays 14:00 UTC, 10AM ET, 7AM PT
  schedule:
    - cron: '0 14 * * 2'

jobs:
  get_workflow_environment:
    runs-on: ubuntu-latest
    outputs:
      environment_name: ${{ steps.check-environment.outputs.env_name }}
    steps:
      - name: Check environment
        id: check-environment
        run: |
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
            echo ::set-output name=env_name::'manual-release'
          else
            echo ::set-output name=env_name::''
          fi
  ios:
    name: iOS Go Live
    needs: [get_workflow_environment]
    uses: ./.github/workflows/build_ios.yml
    secrets: inherit
    with:
      lane: release
      ref: main
      gha_environment: ${{ needs.get-workflow-environment.outputs.environment_name }}
  android:
    name: Android Go Live
    needs: [get_workflow_environment]
    uses: ./.github/workflows/build_android.yml
    secrets: inherit
    with:
      lane: release
      ref: main
      gha_environment: ${{ needs.get-workflow-environment.outputs.environment_name }}
