name: "[Release] New Release Branch"

on:
  workflow_dispatch:
  schedule:
    # 06:00 UTC, 2:00AM ET, 11:00PM (Tues) PT every Wednesday
    - cron: "00 6 * * 3"

jobs:
  get-workflow-environment:
    runs-on: ubuntu-latest
    outputs:
      environment_name: ${{ steps.check-environment.outputs.env_name }}
    steps:
      - name: Check environment
        id: check-environment
        run: |
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
            echo env_name='manual-release' >> $GITHUB_OUTPUT
          else
            echo env_name='' >> $GITHUB_OUTPUT
          fi
  cut_release_branch:
    name: Cut Release Branch
    needs: [get-workflow-environment]
    environment: ${{ needs.get-workflow-environment.outputs.environment_name }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: VAMobile
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
      - name: Set username and email
        run: |
          git config --global user.name 'VA Mobile Automation Bot'
          git config --global user.email 'VAFlagshipMobile@va.gov'
      - name: Cut release branch
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          if [[ "${{ needs.get-workflow-environment.outputs.environment_name }}" == "manual-release" ]]; then
            ./release_branch.sh --bypass-date-check
          else
            ./release_branch.sh
          fi
