# Image optimization before release build. This workflow commit only images that have been optimized
name: "[Build] Optimize Image"

on:
  push:
    branches:
      - "release/v[0-9]+.[0-9]+.[0-9]+"

jobs:
  optimize_images:
    name: Optimize Images
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Install imagemin-cli
        run: npm install -g imagemin-cli
      - name: Optimize iOS images
        run: imagemin VAMobile/ios/fastlane/screenshots/* --out-dir=VAMobile/ios/fastlane/screenshots/en-US
      - name: Optimize Android images
        run: |
          cd VAMobile/android/fastlane/metadata/android/en-US/images/
          imagemin * --out-dir=.

          cd phoneScreenshots/
          imagemin * --out-dir=.

          cd ../sevenInchScreenshots/
          imagemin * --out-dir=.
      - name: Commit optimized images
        run: |
          git config --global user.name 'VA Mobile Automation Bot'
          git config --global user.email 'VAFlagshipMobile@va.gov'
          git add VAMobile/ios/fastlane/screenshots/en-US
          git add VAMobile/android/fastlane/metadata/android/en-US/images
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Optimize images before release build"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
