name: '[Utils] FE PR Needs Review Reminder'

on:
  workflow_dispatch

env:
  SLACK_API_TOKEN: ${{ secrets.SLACK_API_TOKEN }}

jobs:
  send_pr_reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Get count of PRs needing review
        id: get_count
        run: echo "pr_count=$(GH_TOKEN=${{ steps.generate_token.outputs.token }} gh pr list -l 'FE-Needs Review' --json id | jq length)" >> "$GITHUB_OUTPUT"
      - name: Post message to Slack
        id: post_message
        run: |
          ts=$(curl -X POST -H 'Authorization: Bearer '"$SLACK_API_TOKEN"' ' \
            -H 'Content-type: application/json' \
            --data '{"channel":"C0212B872MT","text":"(Please disregard) test count ${{ steps.get_count.outputs.pr_count }}"}' \
            https://slack.com/api/chat.postMessage|
            jq -r '.ts')
