# Daily QA Build workflow that runs the reusable build_ios and build_android workflows
# with default inputs for QA builds

name: Daily QA Build

on:
  # Run on weekdays 4:00 AM UTC
  schedule:
    - cron: '0 4 * * 1,2,3,4,5'

jobs:
  ios:
    name: iOS QA Build
    uses: ./.github/workflows/build_ios.yml
    secrets: inherit
  android:
    name: Android QA Build
    uses: ./.github/workflows/build_android.yml
    secrets: inherit
