# Daily QA Build workflow that runs the reusable build_ios and build_android workflows
# with default inputs for QA builds

name: Daily QA Build

on:
  # Run on weekdays 3:30 AM UTC
  schedule:
    - cron: '30 3 * * 1,2,3,4,5' 

defaults:
  run:
    working-directory: VAMobile

jobs:
  ios:
    name: iOS QA Build
    uses: ./.github/workflows/build_ios.yml
    secrets: inherit
    with:
      notes: 'Narin GHA Test'
  android:
    name: Android QA Build
    uses: ./.github/workflows/build_android.yml
    secrets: inherit
    with:
      notes: 'Narin GHA Test'

