# Daily QA Build workflow that runs the reusable build_ios and build_android workflows
# with default inputs for QA builds

name: Daily QA Build

on:
  # Run on weekdays 4:00 AM UTC
  # schedule:
  #   - cron: '0 4 * * 1,2,3,4,5'
  push:
    branches:
      - feature/4737-Theo-SlackNotificationsGHA

# defaults:
#   run:
#     working-directory: VAMobile

jobs:
  start_slack_thread:
    name: Start Slack thread
    uses: ./.github/workflows/start_slack_thread.yml
    secrets: inherit
    with:
      message: 'QA build process starting. Please see :thread: for results. This process may take a while.'
  # ios:
  #   name: iOS QA Build
  #   uses: ./.github/workflows/build_ios.yml
  #   secrets: inherit
  android:
    name: Android QA Build
    needs: start_slack_thread
    uses: ./.github/workflows/build_android.yml
    secrets: inherit
    with:
      slack_thread_ts: ${{needs.start_slack_thread.outputs.thread_ts}}

