# Reusable workflow that waits for older in progress builds to finish
name: '[Build] Queue Build'

on:
  workflow_call:

env:
  # Number of minutes to wait in between rechecking in progress workflow runs
  WAIT_TIME: 3
  # Names of workflows that should be waited on (places that use `build_android` and `build_ios`)
  WORKFLOW_NAMES: '["[Build] Daily QA Build", "[Build] On Demand Build", "[Build] Release Build", "[Build] Release Candidate Build"]'

jobs:
  queue_builds:
    name: Wait for older builds to finish
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Log into GH CLI
        run: echo "${{ steps.generate_token.outputs.token }}" | gh auth login --with-token
      - name: Get workflow runs and wait for older builds
        timeout-minutes: 60
        run: |
          can_proceed=false
          while [ "$can_proceed" == false ]; do
            echo "Fetching in progress builds"
            build_count=$(gh run list \
              --json databaseId,status,workflowName \
              --jq 'map(select(
                  (any(.status == ["in_progress", "queued"][]; .))
                  and .databaseId < ${{ github.run_id }}
                  and (any(.workflowName == ${{ env.WORKFLOW_NAMES }}[]; .))
                )) | length')
            echo "Number of in progress builds: $build_count"
            if [ "$build_count" -eq "0" ]; then
              can_proceed=true
            else
              echo "Waiting ${{ env.WAIT_TIME }} minutes before checking in progress builds again..."
              sleep ${{ env.WAIT_TIME }}m
            fi
          done
