name: '[Release] New Release Issue'

on:
  create:
jobs:
  release_ticket:
    if: ${{ contains(github.ref, 'refs/heads/release/') }}
    runs-on: ubuntu-latest
    outputs:
      ticketNumber: ${{steps.create-issue.outputs.number}}
      versionNumber: ${{env.VERSION}}
      releaseDate: ${{env.RELEASE_DATE}}
      qaDueDate: ${{env.QA_DUE_DATE}}
      prodDueDate: ${{env.PROD_DUE_DATE}}
      vaDueDate: ${{env.VA_DUE_DATE}}
    steps:
      - run: echo "VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - run: echo "QA_DUE_DATE=$(date -d "+2 days" '+%A %b %d, %Y')" >> $GITHUB_ENV
      - run: echo "PROD_DUE_DATE=$(date -d "+5 days" '+%A %b %d, %Y')" >> $GITHUB_ENV
      - run: echo "VA_DUE_DATE=$(date -d "+6 days" '+%A %b %d, %Y')" >> $GITHUB_ENV
      - run: echo "RELEASE_DATE=$(date -d "+13 days" '+%A %b %d, %Y')" >> $GITHUB_ENV
      - uses: actions/checkout@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" >> token.txt
      - run: gh auth login --with-token < token.txt
      - run: |
          sev1=$(gh issue list -l "sev-1" --jq 'map("|#\(.number)|\(.title)|") | join("\n") ' --json number,title)
          sev2=$(gh issue list -l "sev-2" --jq 'map("|#\(.number)|\(.title)|") | join("\n") ' --json number,title)
          header='| Issue | Title | Notes |
          |-------|-------|-------|
          '
          table="${header}${sev1}${sev2}"
          echo 'TABLE<<EOF' >> $GITHUB_ENV
          echo "${table}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
      - uses: JasonEtco/create-an-issue@v2
        with:
          filename: .github/ISSUE_TEMPLATE/release_ticket.md
        env:
          versionNumber: ${{ env.VERSION }}
          qaDueDate: ${{env.QA_DUE_DATE}}
          prodDueDate: ${{env.PROD_DUE_DATE}}
          vaDueDate: ${{env.VA_DUE_DATE}}
          releaseDate: ${{ env.RELEASE_DATE }}
          issues: ${{ env.TABLE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        id: create-issue
  create_testrail_milestone:
    uses: department-of-veterans-affairs/va-mobile-app/.github/workflows/create_testrail_milestone.yml@develop
    needs: release_ticket
    secrets:
      TEST_RAIL_USER: ${{secrets.TEST_RAIL_USER}}
      TEST_RAIL_KEY: ${{secrets.TEST_RAIL_KEY}}
  start_testrail_run:
    uses: department-of-veterans-affairs/va-mobile-app/.github/workflows/start_test_rail_run.yml@develop
    needs: [release_ticket, create_testrail_milestone]
    with:
      version: ${{ needs.release_ticket.outputs.versionNumber }}
      releaseDate: ${{ needs.release_ticket.outputs.releaseDate }}
      ticketNumber: ${{ needs.release_ticket.outputs.ticketNumber }}
      milestoneId: ${{ needs.create_testrail_milestone.outputs.milestoneId }}
    secrets:
      TEST_RAIL_USER: ${{secrets.TEST_RAIL_USER}}
      TEST_RAIL_KEY: ${{secrets.TEST_RAIL_KEY}}
  update_ticket:
    runs-on: ubuntu-latest
    needs: [release_ticket, create_testrail_milestone, start_testrail_run]
    steps:
      - uses: actions/checkout@v3
      - run: echo "${{ secrets.GITHUB_TOKEN }}" >> token.txt
      - run: gh auth login --with-token < token.txt
      - run: echo ${{needs.start_testrail_run.outputs.testrailUrl}}
      - run: |
          TICKET_NUM=${{ needs.release_ticket.outputs.ticketNumber }}
          RUN_URL=${{ needs.start_testrail_run.outputs.testrailUrl }}
          OLD_BODY=$(echo $(gh issue view $TICKET_NUM --json body | jq -r '.body'))
          NEW_BODY=$(echo "$OLD_BODY" | sed -e "s#\^\^\^Testrail-url\^\^\^#$RUN_URL#g")
          gh issue edit $TICKET_NUM -b $NEW_BODY
  start_slack_thread:
    name: Start Slack thread
    if: ${{ success() }}
    
    needs: release_ticket
    runs-on: ubuntu-latest
    secrets: inherit

    steps:
      - name: Map GitHub usernames to Slack usernames
        id: map_slack_ids
        run: |
          echo "GITHUB_TO_SLACK_MAP=$(cat <<EOF
          {
            \"DJUltraTom\": \"@tom.gammons\",
            \"kellylein\": \"@kelly \",
            \"dumathane\": \"@Jon\",
            \"timwright12\": \"@Tim Wright\",
            \"ala-yna\": \"@alayna\",
            \"ajsarkar28\": \"@Ameet Sarkar\",
            \"rachelhanster\": \"@Rachel Han\",
            \"DonMcCaugheyUSDS\": \"@Don McCaughey \",
            \"IsraelleHub\": \"@charnelle.domguia\",
            \"rtwell\": \"@rtwell\"
          }
          EOF
          )" >> $GITHUB_ENV
      
      - name: Start Slack thread
        uses: ./.github/workflows/start_slack_thread.yml
        with:
          channel_name: va-mobile-build-alerts
          message: |
            *Release  ${{ needs.release_ticket.outputs.versionNumber }} Coordination thread:*
            *Release Ticket:* ${{ needs.release_ticket.outputs.ticketNumber }}
            *Release Report:* Github Report Link to be provided
            *Release Date:* ${{ needs.release_ticket.outputs.releaseDate }}

            *Approval Timing:*
            - *QA Approval Due:*  ${{ needs.release_ticket.outputs.qaDueDate }}
            - *Tickets Tagged Appropriately:* ...
            - *Product Approval Due:* ${{ needs.release_ticket.outputs.prodDueDate }}
            - *VA Approval  Due:* ${{ needs.release_ticket.outputs.vaDueDate }}
            
            *Contacts:*
            - *Release Testing:* ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).DJUltraTom}}
            - Release Manager:* ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).kellylein }}
            - *Release Ticket Validation:* ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).dumathane }}
            - *Engineering:* ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).dumathane }}, ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).timwright12 }}
            - *Mobile Product Approvers:* H&B and Global - ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).ala-yna}}, Global- ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).ajsarkar28}}
            - *VA PO for awareness:* ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).rachelhanster }}, CC: ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).DonMcCaugheyUSDS }}, ${{ fromJson(steps.map_slack_ids.outputs.GITHUB_TO_SLACK_MAP).rtwell }}