name: "[Release] Merge to main and Create PR to develop"

on:
  workflow_call:
    inputs:
      version:
        description: "Version Number (eg. v1.1.0)"
        type: string
        required: true
    outputs:
      devPrUrl:
        value: ${{jobs.create_prs.outputs.devPrUrl}}
      releaseHash:
        value: ${{jobs.create_prs.outputs.releaseHash}}
  workflow_dispatch:
    inputs:
      version:
        description: "Version Number (eg. v1.1.0)"
        required: true
        type: string

jobs:
  create_prs:
    runs-on: ubuntu-latest
    outputs:
      devPrUrl: ${{steps.urls.outputs.dev}}
      releaseHash: ${{steps.urls.outputs.release}}
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: "Checkout repo"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
      - name: "Set up GH CLI secret"
        run: echo "${{steps.generate_token.outputs.token}}" >> token.txt
      - name: "Log into GH CLI"
        run: gh auth login --with-token < token.txt
      - name: "Create PR to merge changes back to develop"
        run: |
          MERGE_TO_DEV_BRANCH=release-${{inputs.version}}-to-develop
          git config --global user.name 'VA Mobile Automation Bot'
          git config --global user.email 'VAFlagshipMobile@va.gov'
          git checkout release/${{inputs.version}}
          git checkout -b $MERGE_TO_DEV_BRANCH
          git push -u origin $MERGE_TO_DEV_BRANCH
          echo "DEV_PR=$(gh pr create -B develop -t "Merge ${{inputs.version}} to develop" -b "PR to merge ${{inputs.version}} release branch changes into develop")" >> $GITHUB_ENV
      - name: "Merge changes to main and tag for release build"
        run: |
          MERGE_TO_MAIN_BRANCH=merge-${{inputs.version}}-to-main
          git config --global user.name 'VA Mobile Automation Bot'
          git config --global user.email 'VAFlagshipMobile@va.gov'
          git checkout main
          git checkout release/${{inputs.version}}
          git checkout -b $MERGE_TO_MAIN_BRANCH
          git merge -s ours main -m "merge main changes"
          git checkout main
          git merge $MERGE_TO_MAIN_BRANCH --squash
          git commit  -m ${{inputs.version}}
          git push
          git tag -a ${{inputs.version}} -m ${{inputs.version}}
          git push origin ${{inputs.version}}
          echo "RELEASE_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: "Set Outputs"
        id: urls
        run: |
          echo "dev=${{env.DEV_PR}}" >> $GITHUB_OUTPUT
          echo "release=${{env.RELEASE_HASH}}" >> $GITHUB_OUTPUT
