name: '[Release] Run approval Workflow'

on:
  workflow_call:
    inputs:
      version:
        description: 'Version Number (eg. v1.1.0)'
        type: string
        required: true
      issue_number:
        description: 'Issue number to comment on'
        type: string
        required: false
      comment_id:
        description: 'Comment ID to react to (for slash commands)'
        type: string
        required: false

jobs:
  indicate_start:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: Adding release approved comment
        run: |
          echo "Version: ${{ inputs.version }}"
          echo "Issue number: ${{ inputs.issue_number }}"
      - name: 'Add reaction to approve command'
        if: ${{ inputs.comment_id != '' }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          repository: ${{ github.repository }}
          comment-id: ${{ inputs.comment_id }}
          reaction-type: rocket
  run_prs:
    needs: indicate_start
    uses: department-of-veterans-affairs/va-mobile-app/.github/workflows/release_pull_request.yml@develop
    with:
      version: ${{ inputs.version }}
    secrets: inherit
  comment_complete:
    needs: [indicate_start, run_prs]
    if: ${{ inputs.issue_number != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - name: 'Checkout repo'
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: 'Set up GH CLI secret'
        run: echo "${{ steps.generate_token.outputs.token }}" >> token.txt
      - name: 'Log into GH CLI'
        run: gh auth login --with-token < token.txt
      - name: 'Comment on original issue with PR info'
        run: |
          gh issue comment ${{ inputs.issue_number }} -b "PRs Successfully Created! :raised_hands:
            [PR to develop](${{needs.run_prs.outputs.devPrUrl}})
            Merge to main commit ${{needs.run_prs.outputs.releaseHash}}"
      - name: 'Close original issue'
        run: |
          gh issue close ${{ inputs.issue_number }}
          gh issue comment ${{ inputs.issue_number }} -b "Issue Successfully Closed"
