name: Shai-Hulud 2.0 Security Check

on:
  push:
    # branches: [main, develop]
  # pull_request:
  #   branches: [main, develop]

jobs:
  security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.FLAGSHIP_MOBILE_APP_ID }}
          private-key: ${{ secrets.FLAGSHIP_MOBILE_APP_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - uses: gensecaihq/Shai-Hulud-2.0-Detector@v1
        with:
          fail-on-critical: true

  setup-tmate-session:
    if: ${{ failure() }}
    uses: mxschmitt/action-tmate@v3
    timeout-minutes: 60
