name: Create New Release Branch

on:
  push:
    branches:
      - nr-test-tag-trigger-another-workflow

defaults:
  run:
    working-directory: VAMobile

jobs:
  cut_release_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set username and email
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_PAT }}
        run: |
          git config --global user.name 'VA Automation Bot'
          git config --global user.email 'va-mobileapp@adhocteam.us'
          gh tag RC-v2.0.0-041023-0641
