name: '[e2e] Update TestRail Results'

on:
  push:
    #branches:
    #  - 'dependabot/**'
    secrets:
      TEST_RAIL_USER:
        description: "TestRail robot userid"
        required: true
      TEST_RAIL_KEY:
        description: "TestRail api key"
        required: true
    workflow_dispatch:
  
defaults:
  run:
    working-directory: VAMobile

env:
  # IAM staging app client secret
  APP_CLIENT_SECRET: ${{ secrets.APP_CLIENT_SECRET }}
  # IAM production app client secret
  APP_CLIENT_SECRET_PROD: ${{ secrets.APP_CLIENT_SECRET_PROD }}

jobs:
  e2e-ios:
    runs-on: macos-latest-xl
    env:
      # Path to write secret key to. Also used by fastlane
      APPSTORE_CONNECT_FILEPATH: './AppStoreConnectKey.p8'
      # Xcode project file name
      IOS_PROJ_FILE: 'VAMobile.xcodeproj'
      # Xcode scheme to build
      IOS_SCHEME: 'VAMobileRelease'

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Decode base64 encoded App Store Connect API key and GoogleService-Info.plist
        working-directory: VAMobile/ios
        run: |
          echo "${{ secrets.APPSTORE_CONNECT_BASE64 }}" | base64 --decode > "$APPSTORE_CONNECT_FILEPATH"
          echo "${{ secrets.IOS_GS_PLIST_BASE64 }}" | base64 --decode > GoogleService-Info.plist

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Setup node and restore yarn cache
        uses: actions/setup-node@v3
        with:
          node-version-file: 'VAMobile/.nvmrc'
          cache: 'yarn'
          cache-dependency-path: './VAMobile/yarn.lock'

      - name: Install macOS dependencies
        run: |
          brew tap wix/brew
          brew install applesimutils
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1

      - name: Install npm dependencies
        run: yarn install --frozen-lockfile --non-interactive

      - name: Set app environment variables
        run: yarn env:staging

      - name: Install pods
        working-directory: VAMobile/ios
        run: pod install
  
      - name: Install Ruby gems
        working-directory: VAMobile/ios
        run: bundle install

      - name: Bundle iOS app
        run: yarn e2e:ios-build

      - name: Run e2e tests for iOS
        run: yarn e2e:ios-test /e2e/tests/Appeals.e2e --take-screenshots failing --updateSnapshot

      - name: Upload artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: detox-artifacts-${{ runner.os }}-${{ github.run_id }}
          path: VAMobile/artifacts
      
      - name: Upload e2e-junit
        uses: actions/upload-artifact@v3
        with:
          name: e2e-junit
          path: VAMobile/e2e/test_reports/e2e-junit.xml

  send-test-results-to-testrail:
    needs: e2e-ios
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download junit file
        uses: actions/download-artifact@v3
        with:
          name: e2e-junit
      - name: Python setup
        if: always()
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: TestRail CLI upload results
        if: always()
        run: |
          pip install trcli
          trcli -y \
            -h https://dsvavsp.testrail.io/ \
            --project "VA Mobile App" \
            --project-id 29 \
            -u "${{secrets.TEST_RAIL_USER}}:${{secrets.TEST_RAIL_KEY}}" \
            parse_junit \
            --title "Automated Tests from GitHub workflow" \
            -f "e2e-junit.xml"

#jobs:
  # start_slack_thread:
  #   name: Start Slack thread
  #   uses: ./.github/workflows/start_slack_thread.yml
  #   secrets: inherit
  #   with:
  #     channel_name: va-mobile-build-alerts
  #     message: 'E2E Android build process starting. Please see :thread: for results. This process may take a while.'

  #execute_automated_tests:
  #  name: Execute automated tests
  #  uses: ./.github/workflows/e2e_ios.yml

  #send-test-results-to-testrail:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: Download junit file
  #      uses: actions/download-artifact@v3
  #      with:
  #        name: e2e-junit
  #    - name: Python setup
  #      if: always()
  #      uses: actions/setup-python@v3
  #      with:
  #        python-version: '3.x'
  #    - name: TestRail CLI upload results
  #      if: always()
  #      run: |
  #        pip install trcli
  #        trcli -y \
  #          -h https://dsvavsp.testrail.io/ \
  #          --project "VA Mobile App" \
  #          --project-id 29 \
  #          -u "${{secrets.TEST_RAIL_USER}}:${{secrets.TEST_RAIL_KEY}}" \
  #          parse_junit \
  #          --title "Automated Tests from GitHub workflow" \
  #          -f "e2e-junit.xml"
