<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>AppSecret</key>
		<string>b2447a10-0b75-4977-8293-cb1ffb9b0707</string>
	</dict>
</dict>
</plist>
