<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757307945667-f8gihl6k5bnv2lcs6r8p6ii4b5g260qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757307945667-f8gihl6k5bnv2lcs6r8p6ii4b5g260qe</string>
	<key>API_KEY</key>
	<string>AIzaSyCA4zID9WhMkc6bGHLKMu85D_8d4zeGt7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>757307945667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.adhocteam.alpha.vamobile</string>
	<key>PROJECT_ID</key>
	<string>va-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>va-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757307945667:ios:6b8abbd48e45ee7ebfe876</string>
	<key>DATABASE_URL</key>
	<string>https://va-mobile.firebaseio.com</string>
</dict>
</plist>